<div [@routerTransition]>
  <app-page-header [heading]="'Produtos'" [icon]="'fa-edit'"></app-page-header>


  <form [formGroup]="productForm">

    <div class="form-content">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label>Codigo de barras</label>
              <input
                class="form-control"
                placeholder="|||"
                [(ngModel)]="product.codigoBarra"
                formControlName="codigoBarra"
                id="codigoBarra"
                name="codigoBarra">
            </fieldset>
          </div>

          <div class="col-lg-4">
            <fieldset>
              <div class="form-group">
                <label>Nome</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Nome do produto"
                  [(ngModel)]="product.nome"
                  formControlName="nome"
                  id="nome"
                  name="nome">
              </div>
            </fieldset>
          </div>

          <div class="col-lg-4">
            <fieldset>
              <label></label>
              <div class="form-group div-button-search">
                <button class="btn btn-primary" type="button" (click)="search(content)">Pesquisar</button>
              </div>
            </fieldset>
          </div>


        </div>
      </div>
    </div>

    <div  *ngIf="objects.content.length > 0">
      <div class="ol-lg-4">
        <div class="card mb-3">
          <div class="card-header">

            Produtos
          </div>
          <div class="card-body table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>C.Barra</th>
                <th>Nome</th>
                <th>Preco Venda</th>
                <th>Aćões</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let p of objects.content">
                <th scope="row">{{p.codigoBarra}}</th>
                <td>{{p.nome}}</td>
                <td>{{p.precoVenda}}</td>
                <td>Editar Excluir</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card-body table-responsive">

        <nav aria-label="Produtos">


          <ul *ngIf="objects.totalPages >= 1" class="pagination" >


            <li class="page-item" [ngClass]="{disabled:objects.first}">
              <a class="page-link" (click)="setPage(0)" aria-label="Previous">
                <span aria-hidden="true">Fists</span>
              </a>
            </li>

            <li class="page-item" [ngClass]="{disabled:objects.first}">
              <a class="page-link" (click)="setPage(objects.number - 1)" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
              </a>
            </li>

            <li class="page-item"  *ngFor="let page of totalPagesArray" [ngClass]="{active:objects.number === page}">
              <a class="page-link" (click)="setPage(page)">
                <span aria-hidden="true">{{page + 1}}</span>
              </a>
            </li>

            <li class="page-item" [ngClass]="{disabled:objects.last}">
              <a class="page-link" (click)="setPage(objects.number + 1)" aria-label="Previous">
                <span aria-hidden="true">Next</span>
              </a>
            </li>

            <li class="page-item" [ngClass]="{disabled:objects.last}">
              <a class="page-link" (click)="setPage(objects.totalPages - 1 )">
                <span aria-hidden="true">Last</span>
              </a>
            </li>


          </ul>

        </nav>


      </div>
    </div>

  </form>
</div>
