<div [@routerTransition]>
  <app-page-header [heading]="'Produtos'" [icon]="'fa-edit'"></app-page-header>


  <form [formGroup]="productForm">

    <div class="form-content">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">

            <fieldset class="form-group">
              <label>Codigo de barras</label>
              <input
                class="form-control"
                placeholder="|||"
                [(ngModel)]="product.codigoBarra"
                formControlName="codigoBarra"
                id="codigoBarra"
                name="codigoBarra">
            </fieldset>

            <label for="disabledSelect">Preço do produto</label>
            <div class="form-group input-group">
              <span class="input-group-addon">R$</span>
              <input
                type="text"
                class="form-control"
                formControlName="precoCusto"
                [(ngModel)]="product.precoCusto"
                id="precoCusto"
                name="precoCusto">
            </div>
          </div>

          <div class="col-lg-6">

            <fieldset>

              <div class="form-group">
                <label for="disabledSelect">Nome</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Nome do produto"
                  [(ngModel)]="product.nome"
                  formControlName="nome"
                  id="nome"
                  name="name">
              </div>

              <label for="disabledSelect">Preço de venda</label>
              <div class="form-group input-group">
                <span class="input-group-addon">R$</span>
                <input
                  id="precoVenda"
                  type="text"
                  class="form-control"
                  [(ngModel)]="product.precoVenda"
                  formControlName="precoVenda"
                  name="precoVenda">
              </div>

            </fieldset>
          </div>

          <div class="col-lg-6">

            <div class="form-group">
              <label for="disabledSelect">Unidade de Medida</label>
              <select
                id="medida"
                class="form-control"
                [(ngModel)]="product.unidadeMedida"
                formControlName="medida"
                name="medida">
                <option selected value="1">Unidade</option>
                <option value="2">Peso</option>
                <option value="3">Metro</option>
              </select>
            </div>

          </div>

        </div>

        <fieldset class="button-group">
          <button type="reset" class="btn btn-secondary">Limpar</button>
          <button type="submit" class="btn btn-primary" (click)="saveProduct(content)" [disabled]="!productForm.valid">Salvar
          </button>
        </fieldset>

        <div class="card-body" >
          <ng-template #content let-c="close" let-d="dismiss" >
            <div class="modal-header">
              <h4 class="modal-title">Sucesso</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>O produto foi cadastrado com sucesso.</p>
              <p>Deseja realizar um novo cadastro?</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="clearForm(content)">Sim</button>
              <button type="button" class="btn btn-secondary" (click)="goToDashboard()">Não</button>
            </div>
          </ng-template>
        </div>

      </div>
    </div>

  </form>


</div>
