  
  <form (submit)="authenticate($event)">
  
    <div class="form-group row" >
      
  
        <label class="col-sm-2 col-form-label col-form-label-lg" for="email">Email</label>
        
          <input type="email" id="email" class="form-control form-control-sm"  aria-describedby="emailHelp" placeholder="Email">
                
    </div>
      
  
    <div class="form-group row" >
  
          <label>Senha</label>

          <label for="exampleInputEmail1">Senha</label>
          <input type="password" class="form-control"  aria-describedby="emailHelp" placeholder="Senha">
    
    </div>
  

     <div class="form-group row">
      <button type="submit" class="btn btn-primary">Submit</button>

    </div>
    
    
  </form>

